<!DOCTYPE html>
<html lang="en">
    <head>
        <title>MBTI Personality Type</title>
        <meta charset="utf-8">
        <meta name="viewport"  content="width=device-width, initial-scale=1">
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    </head>
    <body>

        <div class="container">
            <h2>What is your MBTI personality type?</h2>
            <p>We can try to identify it if you could share your last social media post.</p>
            
            <form method="POST" action="/sub" >
                <input type="text" name = "userpost" placeholder="userpost" style="height:200px; width:400px; font-size:14pt;"><br>
                <button type="submit" class="btn btn-default">Submit</button>
            </form>

    </body>
</html>